xml/shows.dtd

<!ELEMENT shows (show+)>
<!ATTLIST shows version CDATA #REQUIRED>

<!ELEMENT show (date, venue, artists, comment?)>
<!ATTLIST show type CDATA #IMPLIED>

<!ELEMENT venue (#PCDATA)>

<!ELEMENT artists (artist+)>

<!ELEMENT artist (#PCDATA)>
<!ATTLIST artist headliner (true | false) "false">

<!ELEMENT comment (#PCDATA)>

<!ENTITY % date SYSTEM "date.dtd">
%date;
