xml/venues.dtd

<!ELEMENT venues (venue+)>
<!ATTLIST venues version CDATA #REQUIRED>

<!ELEMENT venue (name, address?, homepage?, relations?)>
<!ATTLIST venue closed (true | false) "false">

<!ELEMENT name	(#PCDATA)>

<!ELEMENT homepage (#PCDATA)>

<!ELEMENT relations (relation+)>

<!ELEMENT relation (#PCDATA)>
<!ATTLIST relation reason CDATA #IMPLIED>

<!ENTITY % address SYSTEM "address.dtd">
%address;
